/* array-sample-01 */
var days=[0,1,2,3,4,5,6]
echoout "days="+days.length
echoout "days[2]="+days[2]
if (days[2]>1)
	echoout "It is >2"
else
	echoout "It is <=2"
	
var months=["january", "february", "march", "april"]
echoout "months="+months.length
echoout "months[2]="+months[2]
if (months[2]<"pollos")
	echoout "It is <pollos"
